

<div class="row" >
<div class="col-sm-4">
  <p>Bananas, 1 bunch (min. 5 ct.) </p>
  <p>
    One bunch contains approximately 5-7 bananas.
  </p>
</div>
<div class="col-sm-2">
  <img src="/assets/images/banana.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-4">
      Wegmans( 5Miles)
    </div>
    <div class="col-sm-4">
      3.99
    </div>
    <div class="col-sm-4">
      User1 reported 06/10/2017 11:35 AM
    </div>
  </div>
</div>
</div>
