


<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #33cc33;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Shopping Buddy</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Add Item </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Store</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Notification</a>
      </li>
      <li>
    <button type="submit" class="btn btn-default btn-pull-right">Sign-Up/Login</button>
      </li>

    </ul>
  </div>
</nav>
